<!DOCTYPE html>
<html lang="en">

<!-- head-->

<%- include("../partials/head") %>

<!-- end head -->

<body id="body">

    <!-- header-->
    <%- include("../partials/header") %>

    <!-- end header -->

     <main id="content">
        <h1>Cargar producto</h1>
        <form action="/product/create" method="POST" id="formCreate">
            
            <fieldset>
            <label>Producto:</label><input class="noCheck" type="text" name="name" placeholder="Nombre del producto">
            </fieldset>
            
            <fieldset>
            <label>Marca:</label> <input class="noCheck" type="text" name="brand" placeholder="Marca">
            </fieldset>
            
            <fieldset>
            <label>Precio:</label><input class="noCheck" type="number" name="price" placeholder="Precio">
            </fieldset>

            <fieldset>
           <label> Imagenes:</label><input  class="noCheck" type="file" name="img" placeholder="Precio">
            </fieldset>

            <fieldset>
            <label class="check">Sistema Operativo:</label>
            
            <select name="so">
                <option value="android">Android</option>
                <option value="ios">IOS</option>
                <option value="microsoft">Microsoft</option>
                <option value="blackberry">Blackberry</option>
                
                
               </select>
             </fieldset>
           
            <fieldset>
            <label class="noCheck">Procesadores:</label><input  class="noCheck" type="number" name="processor" placeholder="Nucleos">
             </fieldset>
            
        <fieldset>
                <label class="noCheck">Memoria RAM:</label><input  class="noCheck" type="number" name="memory" placeholder="Gigabytes">
            
                </fieldset>

             <fieldset>  
            <label>Camara:</label><input class="noCheck" type="number" name="brand" placeholder="Megapixeles">
              </fieldset>    

              <fieldset>
             <label>Descripcion:</label>
            
            <textarea class="noCheck" type="text" name="description" placeholder="Descripcion"> </textarea>
        </fieldset>
            
        <fieldset>
            <button type="submit" class="buttonForm"> Crear</button>
        </fieldset>
        </form>
        
       

    </main>

     <!-- footer -->
    <%- include("../partials/footer") %>
    
    <!-- end footer-->
</body>
</html>