<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head") %>
<body id="body">
    <%- include("../partials/header") %>
    <main id="main-product">
        <!--Sección Productos Brand = Samsung-->
        
            <section class = "section-content">
            <article class="article-setting">
                
                <figure><img src="/img/samgalnotplus01.jpg" alt="samgalnotplus01"></figure> 
                <section class="contenedor1">
                    <section class="precio-descuento">                    
                            <p class="precio-lista">$75.000</p>
                            <p class='descuento'>10% OFF</p>
                            <p class = "precio">$67.500</p>
                    </section>
                    <h3 class="article-title">Galaxy Note 10+</h3>
                    <section>
                        <p class="article-description"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, cupiditate eum eos adipisci voluptatem fugit nesciunt perferendis temporibus repudiandae tempora odio labore soluta impedit modi aperiam sed illum tempore atque.</p>
                    </section>
                </section>
            </article>

            <article class="article-setting">
                
                <figure><img src="/img/samgalnotplus01.jpg" alt="samgalnotplus01"></figure> 
                <section class="contenedor1">
                    <section class="precio-descuento">                    
                            <p class="precio-lista">$75.000</p>
                            <p class='descuento'>10% OFF</p>
                            <p class = "precio">$67.500</p>
                    </section>
                    <h3 class="article-title">Galaxy Note 10+</h3>
                    <section>
                        <p class="article-description"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, cupiditate eum eos adipisci voluptatem fugit nesciunt perferendis temporibus repudiandae tempora odio labore soluta impedit modi aperiam sed illum tempore atque.</p>
                    </section>
                </section>
            </article>

            <article class="article-setting">
                
                <figure><img src="/img/samgalnotplus01.jpg" alt="samgalnotplus01"></figure> 
                <section class="contenedor1">
                    <section class="precio-descuento">                    
                            <p class="precio-lista">$75.000</p>
                            <p class='descuento'>10% OFF</p>
                            <p class = "precio">$67.500</p>
                    </section>
                    <h3 class="article-title">Galaxy Note 10+</h3>
                    <section>
                        <p class="article-description"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, cupiditate eum eos adipisci voluptatem fugit nesciunt perferendis temporibus repudiandae tempora odio labore soluta impedit modi aperiam sed illum tempore atque.</p>
                    </section>
                </section>
            </article>

            <article class="article-setting">
                
                <figure><img src="/img/samgalnotplus01.jpg" alt="samgalnotplus01"></figure> 
                <section class="contenedor1">
                    <section class="precio-descuento">                    
                            <p class="precio-lista">$75.000</p>
                            <p class='descuento'>10% OFF</p>
                            <p class = "precio">$67.500</p>
                    </section>
                    <h3 class="article-title">Galaxy Note 10+</h3>
                    <section>
                        <p class="article-description"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, cupiditate eum eos adipisci voluptatem fugit nesciunt perferendis temporibus repudiandae tempora odio labore soluta impedit modi aperiam sed illum tempore atque.</p>
                    </section>
                </section>
            </article>

            <article class="article-setting">
                
                <figure><img src="/img/samgalnotplus01.jpg" alt="samgalnotplus01"></figure> 
                <section class="contenedor1">
                    <section class="precio-descuento">                    
                            <p class="precio-lista">$75.000</p>
                            <p class='descuento'>10% OFF</p>
                            <p class = "precio">$67.500</p>
                    </section>
                    <h3 class="article-title">Galaxy Note 10+</h3>
                    <section>
                        <p class="article-description"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, cupiditate eum eos adipisci voluptatem fugit nesciunt perferendis temporibus repudiandae tempora odio labore soluta impedit modi aperiam sed illum tempore atque.</p>
                    </section>
                </section>
            </article>

            <article class="article-setting">
                
                <figure><img src="/img/samgalnotplus01.jpg" alt="samgalnotplus01"></figure> 
                <section class="contenedor1">
                    <section class="precio-descuento">                    
                            <p class="precio-lista">$75.000</p>
                            <p class='descuento'>10% OFF</p>
                            <p class = "precio">$67.500</p>
                    </section>
                    <h3 class="article-title">Galaxy Note 10+</h3>
                    <section>
                        <p class="article-description"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, cupiditate eum eos adipisci voluptatem fugit nesciunt perferendis temporibus repudiandae tempora odio labore soluta impedit modi aperiam sed illum tempore atque.</p>
                    </section>
                </section>
            </article>

            </section>
    
    </main>
    <%- include("../partials/footer") %>
</body>
</html>