<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head") %>
<body id="body">
    <%- include("../partials/header") %>
     <main id="content">
        <section id="lista">
        <h2><i class="fas fa-shopping-cart"></i>Carrito de compras</h2>
        <ul id="top-table"> 
            <li>Producto</li>
            <li>Cantidad</li>
            <li>Envio</li>
            <li>Precio</li>
        </ul>

        <ul id="table">
           
            <li ><a class="eliminar" href=""><i class="far fa-trash-alt"></i> </a></li>
            <li ><a class="eliminar" href=""><i class="far fa-trash-alt"></i> </a></li>
            <li ><a class="eliminar" href=""><i class="far fa-trash-alt"></i> </a></li>
            <li ><a class="eliminar" href=""><i class="far fa-trash-alt"></i> </a></li>
            <li ><a class="eliminar" href=""><i class="far fa-trash-alt"></i> </a></li>
            <li ><a class="eliminar" href=""><i class="far fa-trash-alt"></i> </a></li>

        </ul>
      </section>
        <section id="resumen-compra">
            <h2>Resumen de la compra</h2>
            <ul id="total-compra">
                <li id="subtotal">Subtotal</li>
                <li id="descuento">Descuento</li>
                <li id="total">Total</li>

            </ul>
        <a href="" id="shop-end"><i>Finalizar compra </a>
          </section>
        <section id="politicas">
            <h3>Politicas de envio y pago</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
            </p>
        </section>

    </main>


    <%- include("../partials/footer") %>
</body>
</html>