*{
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}
#footer {
    width: 100vw;
     background-color: black;
    display: flex;
    color:white;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 4vh;
    height: 12vh;
    font-family: 'Titillium Web', sans-serif;
    position: rel;
    box-shadow: 8px -5px 20px 0px dimgrey;
    z-index: 900;
}

#footer ul{
    padding-top: 4vh;
    padding-left: 4vw;
    width: 20vw;
    display:flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
#footer p{
    padding-right: 4vw;
}

#footer li{
    transition: all .3s ease-in-out;
}

#footer li:hover{
    transform: scale(1.8);
}
#listaSocial li{
    margin:3px
}