#footer {
    width: 100vw;
    background-color: hsl(0, 0%, 70%);
    display: flex;
    color:white;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 4vh;
    height: 12vh;
    font-family: 'Titillium Web', sans-serif;
    position: relative;
    box-shadow: 8px -5px 20px 0px dimgrey;
}

#footer ul{
    padding-top: 4vh;
    padding-left: 4vw;
    width: 20vw;
    display:flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
#footer p{
    padding-right: 4vw;
}

#footer li{
    transition: all .3s ease-in-out;
}

#footer li:hover{
    transform: scale(1.8);
}