*{box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;}


/* #header img{
    width: 50%;
    height: 50%;
} */
#headerNav{
    width: 100vw;
    display:flex;
    flex-wrap: nowrap;
    background-color:black;
    color: white;
    font-family:  'Titillium Web', sans-serif;
    font-size: 18px;
    font-weight: 100;
    flex-direction: row;
    justify-content: space-around;
    height:10vh;
    align-items: center;
    box-shadow: 3px 3px 20px dimgrey;
    position:fixed;
    opacity:1;
    z-index: 3
    
}

#barraBusqueda{
    width: 30wh;
    border-radius: 8px;
    border:none;
    background-color: white;
    color:rgb(255, 255, 255);
    position:relative;
    left:.5vw;
    height: 4vh;
    
}
#barraBusquedaForm input{
    width:29vw;
}

#botonBarra{
    background-color: white;
    position:relative;
    right: 22px;
    border:none;
    margin:0;
    padding:0;
    bottom:3px;
    font-size: 12px;

}

#logoCelltech{
    width:20vw;
    max-width: 106px;

}

#linkBar a{
    color:white;
}
#linkBar{
    
    
    width: 30vw;
    display:flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#linkBar li{
    /* background-color: white; */
    border-radius: 8px;
}
a:visited{
    color:black;
}
a:link{
    color:black;
    text-decoration: none;
}
a{
    transition:all 0.3s ease-in-out
}
a:hover{
    color:rgba(122, 15, 223, 0.747);
    
    
}
@media (max-width:480px){


    #barraBusquedaForm input{
        width: 80vw;
        margin-left: 10vw;
    }
    #barraBusquedaForm {
        width: 100vw;
    }
    #headerNav li{
        font-size: 16px;
    }
    #linkBar{
        width:80vw;
        padding-top:4vh;
    }
    #headerNav{
        display:flex;
        flex-wrap: wrap;
        height: 25vh;
        justify-content: center;
        align-items: center;
        padding-bottom: 30px;
    }
}

@media (min-width:481px){
    #headerNav li{
        font-size: 11px;
        padding:5px;
    }
    #barraBusqueda {
        max-width: 300px;

    }
    #linkBar{
        max-width: 300px;
        
    }
}

@media (min-width:769px){
    #headerNav li{
        font-size: 22px;
        padding:5px;
    }
    #barraBusqueda {
        max-width: 300px;

    }
    #linkBar{
        max-width: 300px;
        
    }
}