*{
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}

body {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

#content {
     width: 100%;
     margin-top: 30vh;
     padding: 5vw;
   }

.contentLogin {
    background-color: #FAFAFA;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 5px 5px 0px;
}

#pageTitleLogin {
    padding: 10px 10px;
    font-size: 26px;
    text-align: center;
    position: relative;
}

#formLogin {
    padding: 15px 15px;
}

.controlForm {
    margin: 5px;
    display:block;
}

.controlBox {
    width: 100%;
    padding: 8px 8px;
}



h2{
    display: block;
    padding: 10px 10px;
    font-size: 26px;
    width: 50%;
    position: relative;
    left: 10vw;
    
}

.text-login a{
    text-decoration: none;
    box-sizing: border-box;
    
    
}


    
    
    
.text-login{
    font-size: 20px;
    text-align: center;
    padding: 10px 10px;
    margin: auto;
}
.registrate{
    color: white;
    display: block;
    margin: auto;
    background-color:black;
    border: none;
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 5%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    transition: all 0.5s ease-in-out;  
}

.registrate:hover{
    box-shadow: 1px 2px 12px 4px rgba(79,255,0,0.3);
    transform: scale(1.05);
}

.controlRegister{
    padding: 10px 10px;
    text-align: center;
}


@media(max-width:481px) {
        
    .contentLogin {
        width: 70%;
    }
    
    h2{
        font-size: .8rem;
        position: relative;
        left:2vw;
       }
             #olvide-pass,#no-registrado{
        font-size: .8rem;
         }
        #registro{
            width: 90%;
            position: relative;
            right: 30px;
            top: 40px;
            margin: 0px, 2vw;
        }
   
}

@media (max-width:769px) {
    .contentLogin {
        max-width: 600px;
    }
}