*{
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}

#content{
 height: 85vh;
 width: 100vw;
 display: flex;
}

#registro{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 25vh;
    margin-left: 30vw;
    position: relative;
    width: 35vw;
    height: 40vh;
    
    box-shadow: rgba(60, 64, 67, 0.3) 0px 5px 5px 0px;
}
h2{
    display: block;
    padding: 10px;
    font-weight: bold;
    font-size: 1.5rem;
    width: 100%;
    position: relative;
    left: 10vw;
    
}
input{
    width: 100%;
    margin-bottom: 20px;
    
}
#ingresar{
    display: block;
    margin: auto;
    margin-bottom: 10px;
    
}
a{
    display: block;
    width: 100%;
    text-decoration: none;
    margin: auto;
    
}
#olvide-pass{
    position:relative;
    left: 12vw;
}
#registrate{
    display: block;
    margin: auto;
   
}
#no-registrado{
    position: relative;
    left: 35%;
    margin: 3vh, 0;
    
}