*{
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}
#body{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    
}

#main-product{
    width: 90vw;
    margin-top: 25vh;

}
#title-wide {
    display:none;
}
.productDetail{
    width: 80vw;

}
.imageProduct {
    margin:0;
    border:0;
}

img {
    width: 100%;
}

@media  (max-width:480px) {
    
}


@media (min-width:769px){

}