*{
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}
#body{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    
}

#main-product{
    width: 100vw;
    margin-top: 25vh;
    padding: 0px 10px;
}
.productDetail{
    padding: 10px 0px;
}
#title-cell {
    font-size: 28px;
    text-align: center;
    padding: 10px 10px;
}
#title-wide {
    display:none;
    font-size: 28px;
    text-align: center;
    padding: 10px 10px;
}
.imageProduct {
    margin:0;
    border:0;
    text-align: center;
}

img {
    width: 60%;
    margin:auto;
}

.phoneBrief{
    padding: 10px 10px;
}
.textComprar {
    text-align: center;
    padding: 15px 0px;
}

.buttonLogin{
    padding: 10px 0px;
}
.buttonForm{
    background-color:black;
    color: white;
    border: none;
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 10%;
}

@media  (min-width:480px) {
    #main-product{
        margin-top: 15vh;
    }
   
}


@media (min-width:769px){
    #main-product{
        display: flex;
    }
    #title-cell{
        display:none;
    }
    #title-wide {
        display:block;
    }
    .productDetail{
        display:flex;
        flex-direction: row;
        width: 70%;
    }
    figure {
        width: 50%;
}