*{
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}


#content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 100vh;
    width: 90vw;
    position: relative;
    top: 35vh;
    margin-bottom: 30vh;

}


#lista{
    width: 50vw;
    height: 30vh;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 5px 0px;
}
ul#top-table{
    
    width:100%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px;
    display: flex;
    justify-content: space-around;
}
#top-table li{
font-weight: bold;
}
#table{
    justify-content: right;

}
#resumen-compra{
    height: 40vh;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 5px 5px 0px;
   
}

#total-compra{
    width: 100%;
    display: flex;
    flex-direction: column;
}
   
h2{
    
    font-size: 1.5rem;
    margin-bottom: 20px;
    padding: 10px;
    font-weight: bold;
}
h3{
    font-size: 1.2rem;
    font-weight: bold;
}
#shop-end{
    background-color: black;
    display: block;
    height: 4vh;
    width: 100%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px;
    text-decoration:none;
    color: white;
    font-size: 1.5rem;
}
#shop-end i{
    position: relative;
    left: 18%;
   
}

#total{
    margin-left: 20px;
   
}
#subtotal{
    margin-left: 20px;
    margin-bottom: 20px;
}
#descuento{
    padding: 20px;
    margin-bottom: 20px;
    border-bottom: grey solid 3px;
}
#total{
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-weight: bold;
}
#politicas{
    margin: auto;
    width: 90vw;
    position: relative;
    bottom: 5vh;
}

@media(max-width:360px) {
    p{
        font-size: 0.8rem;
        margin-top: 5vh;
    }
   
    
    #subtotal{
        font-size: 0.7rem;
        margin: 0px;
        margin-bottom: 5px;
    }
    #descuento{
        font-size: 0.7rem;
        
        position: relative;
        padding: 0px;
        margin-bottom: 10px;
        border-bottom: grey solid 1px;
    }
    #total{
        font-size: 0.7rem;
        margin: 0px;
    }
    #shop-end{

        margin-top: 5px;
        font-size: 0.8rem;
    }
    h2{
        font-size: .8rem;
    }
    #resumen-compra{
        height: 20vh;
        width: 100%;
        padding: 0px,20px;
        margin-left: 20px;
        
    }
    #top-table li{
        font-size: 0.5rem;
    }
    #politicas{
        margin-top: 50px;
    }
    #lista{
        width: 100%;
        margin-left: 20px;
    }
    .eliminar {
        font-size: 0.4rem;
    }

    
}
@media(min-width:361px){
    
}
@media screen and(min-width:769px)
{
    
}