<!DOCTYPE html>
<html lang="en">

    <%- include("partials/head") %>

<body id="body">
    <%- include("partials/header") %>
    <main id="main">
<section id="leftBar">
<h2>Marcas</h2>
<ul>
   <li><a href="">Samsung</a></li>
   <li><a href="">Apple</a></li>
   <li><a href="">Xiaomi</a></li>
   <li><a href="">Huawei</a></li>
   <li><a href="">Motorola</a></li>
   <li><a href="">Lg</a></li>
   <li><a href="">Cat</a></li>
</ul>
</section>
<section id="centerBar">
    <article class="articulo">
        <figure><img src="./img/samsung.jpg" alt="Logomarca"></figure>
        <section class="listadoModelos">
            <ul><li><a href="/product"> Galaxy Note10+</a></li>
            <li><a href="/product"> Galaxy Z</a></li>
            <li><a href="/product"> Mas modelos</a></li></ul>

        </section>
    </article>
    <article class="articulo">
        <figure><img src="./img/apple.jpg" alt="Logomarca"></figure>
        <section class="listadoModelos">
            <ul><li><a href="/product"> IPhone 12</a></li>
            <li><a href="/product"> IPhone 11</a></li>
            <li><a href="/product"> Mas modelos</a></li></ul>

        </section>
    </article>
    <article class="articulo">
        <figure><img src="./img/xiaomi.jpg" alt="Logomarca"></figure>
        <section class="listadoModelos">
            <ul><li><a href="/product"> Mi 10T pro</a></li>
            <li><a href="/product"> Black Shark 3</a></li>
            <li><a href="/product"> Mas modelos</a></li></ul>

        </section></article>
    <article class="articulo">
        <figure><img src="./img/huawei.jpg" alt="Logomarca"></figure>
        <section class="listadoModelos">
            <ul><li><a href="/product"> P30 pro</a></li>
            <li><a href="/product"> P40 pro</a></li>
            <li><a href="/product"> Mas modelos</a></li></ul>

        </section></article>
    <article class="articulo">
        <figure><img src="./img/moto.png" alt="Logomarca"></figure>
        <section class="listadoModelos">
            <ul><li><a href="/product"> RAZR</a></li>
            <li><a href="product"> Edge</a></li>
            <li><a href="/product"> Mas modelos</a></li></ul>

        </section></article>
    <article class="articulo">
        <figure><img src="./img/cat.png" alt="Logomarca"></figure>
        <section class="listadoModelos">
            <ul><li><a href="/product"> B26</a></li>
            <li><a href="/product"> S52</a></li>
            <li><a href="/product"> Mas modelos</a></li></ul>

        </section></article>
    <article class="articulo">
        <figure><img src="./img/lg.png" alt="Logomarca"></figure>
        <section class="listadoModelos">
            <ul><li><a href="/product"> Q60</a></li>
            <li><a href="/product"> Velvet</a></li>
            <li><a href="/product"> Mas modelos</a></li></ul>

        </section></article>
</section>

    </main>
<%- include("partials/footer") %>

</body>
</html>