<!DOCTYPE html>
<html lang="en">
<head>
    <title>Celltech</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/norma.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/login.css">
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body id="body">
    <header id="header">
        <nav id="headerNav">
            <a href="/"><img src="" id="logoCelltech" alt="Logo Celltech"></a>
            <form action="#" method="GET" class="barraBusqueda" id="barraBusquedaForm">
                <input type="search" id="barraBusqueda" name="barraBusqueda" placeholder="Buscar">
                <button id="botonBarra" type="submit"><i class="fa fa-search"></i></button> 
            </form>
            <section >
                <ul id="linkBar">
                    <li><a href="">Ayuda</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Register</a></li>
                    <li><a href=""><i class="fas fa-shopping-cart"></i></a></li>
                </ul>
            </section>
        </nav>
    </header>
    <main id="content">
       
        <form action="/register" method="POST" id="registro">
            <h2>Ingresá a CELLTECH</h2>
            <p>
            <input type="email" name="mail" placeholder="Email">
        </p>
        <p>
            <input type="password" name="password" placeholder="Password">
        </p>
           <a id="olvide-pass" href="">Olvidé mi contraseña</a>
          
           <button id="ingresar" type="submit">Ingresar</button>

           <p id="no-registrado">¿No estas Registrado?</p>
           <button id="registrate"><a href=""> Registrate</a></button>
            </form>
        
    </main>
    <footer id="footer">
        <ul id="listaSocial">
            <li><i class="fab fa-twitter-square"></i></li>
            <li><i class="fab fa-facebook-square"></i></li>
            <li><i class="fab fa-instagram-square"></i></li>
            <li><i class="fab fa-linkedin"></i></li>
            <li><i class="fab fa-skype"></i></li>
        </ul>
        <p>Copyright© CellTech S.R.L</p>
    </footer>
</body>
</html>