<!DOCTYPE html>
<html lang="en">
<head>
    <title>Celltech</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/norma.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/loguin.css">
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body id="body">
    <header id="header">
        <nav id="headerNav">
            <img src="" id="logoCelltech" alt="Logo Celltech">
            <form action="#" class="barraBusqueda" id="barraBusquedaForm">
                <input type="search" id="barraBusqueda" name="barraBusqueda" placeholder="Buscar">
                <button id="botonBarra" type="submit"><i class="fa fa-search"></i></button> 
            </form>
            <section >
                <ul id="linkBar">
                    <li><a href="">Ayuda</a></li>
                    <li><a href="">Login</a></li>
                    <li><a href="">Register</a></li>
                    <li><a href=""><i class="fas fa-shopping-cart"></i></a></li>
                </ul>
            </section>
        </nav>
    </header>
    <main>
        <form action="/register" method="POST">
            <h2>Ingresá a CELLTECH</h2>
            <label id="email"> Email </label>
            <input type="email" name="mail" id="email">
            <label id="password"></label>
            <input type="password" name="password" id="password">
           <a href="">Olvidé mi contraseña</a>
           <button type="submit">Ingresar</button>
           <p>¿No estas Registrado?</p>
           <a href=""> Registrate</a>
            </form>

    </main>
    <footer id="footer">
        <ul id="listaSocial">
            <li><i class="fab fa-twitter-square"></i></li>
            <li><i class="fab fa-facebook-square"></i></li>
            <li><i class="fab fa-instagram-square"></i></li>
            <li><i class="fab fa-linkedin"></i></li>
            <li><i class="fab fa-skype"></i></li>
        </ul>
        <p>Copyright© CellTech S.R.L</p>
    </footer>
</body>
</html>