<!DOCTYPE html>
<html lang="en">
<head>
    <title>Celltech-Producto</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/norma.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/product.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap" rel="stylesheet">
</head>
<body id="body">
    <header id="header">
        <nav id="headerNav">
            <a href="/"><img src="" id="logoCelltech" alt="Logo Celltech"></a>
            <form action="#" method="GET" class="barraBusqueda" id="barraBusquedaForm">
                <input type="search" id="barraBusqueda" name="barraBusqueda" placeholder="Buscar">
                <button id="botonBarra" type="submit"><i class="fa fa-search"></i></button> 
            </form>
            <section >
                <ul id="linkBar">
                    <li><a href="">Ayuda</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Register</a></li>
                    <li><a href=""><i class="fas fa-shopping-cart"></i></a></li>
                </ul>
            </section>
        </nav>
    </header>
    <main id="main-product">
        <!--Sección Producto-->
        <section class="productDetail">
            <article>
                <h1 id="title-cell">Modelo SmartPhone</h1>
                <!--Sección Imagen de producto-->
                <figure class="imageProduct">
                    <img src="/img/samgalnotplus01.jpg" alt="samgalnotplus01">
                </figure>
                <!--Sección Detalle de Producto-->
                <section>
                    <h1 id="title-wide">Modelo SmartPhone</h1>
                    <div class="phoneBrief">
                        <p>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur est non ipsam natus aliquid a consequuntur. Incidunt possimus magni, aperiam placeat molestias autem fugiat odit voluptate velit vitae nostrum nesciunt!
                        </p>
                    </div>
                    <div class="phoneDitail">
                        <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed quam dolorem eligendi molestiae officia. Rerum dicta eveniet distinctio dolorum delectus? Cumque modi praesentium quisquam laudantium quibusdam. Earum tenetur voluptatibus animi.
                        </p>
                    </div>
                </section>
            </article>
        </section>    
    <!--Sección Boton Comprar-->
        <section class="buttonComprar">
            <h2>¿Te gusta?</h2>
            <div class="buttonLogin">
                <button type="submit">Comprar</button>
            </div>
        </section>
    </main>
    <footer id="footer">
        <ul id="listaSocial">
            <li><i class="fab fa-twitter-square"></i></li>
            <li><i class="fab fa-facebook-square"></i></li>
            <li><i class="fab fa-instagram-square"></i></li>
            <li><i class="fab fa-linkedin"></i></li>
            <li><i class="fab fa-skype"></i></li>
        </ul>
        <p>Copyright© CellTech S.R.L</p>
    </footer>
</body>
</html>