<!DOCTYPE html>
<html lang="en">
<head>
    <title>Celltech</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/norma.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/shop.css">
    <link rel="stylesheet" href="css/header.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body id="body">
    <header id="header">
        <nav id="headerNav">
            <a href="/"><img src="" id="logoCelltech" alt="Logo Celltech"></a>
            <form action="#" method="GET" class="barraBusqueda" id="barraBusquedaForm">
                <input type="search" id="barraBusqueda" name="barraBusqueda" placeholder="Buscar">
                <button id="botonBarra" type="submit"><i class="fa fa-search"></i></button> 
            </form>
            <section >
                <ul id="linkBar">
                    <li><a href="">Ayuda</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Register</a></li>
                    <li><a href=""><i class="fas fa-shopping-cart"></i></a></li>
                </ul>
            </section>
        </nav>
    </header>
     <main id="content">
        <section id="lista">
        <h2><i class="fas fa-shopping-cart"></i>Carrito de compras</h2>
        <ul id="top-table"> 
            <li>Producto</li>
            <li>Cantidad</li>
            <li>Envio</li>
            <li>Precio</li>
        </ul>

        <ul id="table">
            <li><a class="eliminar" href=""></a></li><a href=""><i class="far fa-trash-alt"></i></a>
            <li><a class="eliminar" href=""></a></li><a href=""><i class="far fa-trash-alt"></i></a>
            <li><a class="eliminar" href=""></a></li><a href=""><i class="far fa-trash-alt"></i></a>
            <li><a class="eliminar" href=""></a></li><a href=""><i class="far fa-trash-alt"></i></a>
            <li><a class="eliminar" href=""></a></li><a href=""><i class="far fa-trash-alt"></i></a>
            <li><a class="eliminar" href=""></a></li><a href=""><i class="far fa-trash-alt"></i></a>
            <li><a class="eliminar" href=""></a></li><a href=""><i class="far fa-trash-alt"></i></a>

        </ul>
      </section>
        <section id="resumen-compra">
            <h2>Resumen de la compra</h2>
            <ul id="total-compra">
                <li id="subtotal">Subtotal</li>
                <li id="descuento">Descuento</li>
                <li id="total">Total</li>

            </ul>
        <a href="" id="shop-end"><i>Finalizar compra </a>
          </section>
        <section id="politicas">
            <h3>Politicas de envio y pago</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
            </p>
        </section>

    </main>


    <footer id="footer">
        <ul id="listaSocial">
            <li><i class="fab fa-twitter-square"></i></li>
            <li><i class="fab fa-facebook-square"></i></li>
            <li><i class="fab fa-instagram-square"></i></li>
            <li><i class="fab fa-linkedin"></i></li>
            <li><i class="fab fa-skype"></i></li>
        </ul>
        <p>Copyright© CellTech S.R.L</p>
    </footer>
</body>
</html>