<header id="header">
    <nav id="headerNav">
        <a href="/"><img src="/img/celltech.png" id="logoCelltech" alt="Logo Celltech"></a>
        <form action="#" method="GET" class="barraBusqueda" id="barraBusquedaForm">
            <input type="search" id="barraBusqueda" name="barraBusqueda" placeholder="Buscar">
            <button id="botonBarra" type="submit"><i class="fa fa-search"></i></button> 
        </form>
        <section >
            <ul id="linkBar">
                <li><a href="">Ayuda</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
                <li><a href="/shop"><i class="fas fa-shopping-cart"></i></a></li>
            </ul>
        </section>
    </nav>
</header>