*{box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;}



#headerNav{
    width: 100vw;
    display:flex;
    flex-wrap: nowrap;
    background-color:black;
    color: white;
    
    font-size: 12px;
    flex-direction: row;
    justify-content: space-around;
    height:10vh;
    align-items: center;
    box-shadow: 3px 3px 20px dimgrey;
    position:fixed;
    
}

#barraBusqueda{
    width: 30wh;
    border-radius: 8px;
    border:none;
    background-color: grey;
    color:black;
    position:relative;
    left:.5vw;
    
}
#barraBusquedaForm input{
    width:29vw;
}

#botonBarra{
    background-color: grey;
    position:relative;
    right: 22px;
    border:none;
    margin:0;
    padding:0;
    top:1px;

}

#logoCelltech{
    width:20vw;

}
#linkBar{
    
    
    width: 30vw;
    display:flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

a:visited{
    color:white;
}
a:link{
    color:white
}

a:hover{
    color: green;
}