<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head") %>
<body id="body">
    <%- include("../partials/header") %>
    <main id="content">
        <section class="contentLogin">
            <h1 id="pageTitleLogin">Ingresá a CELLTECH</h1>
            <section>
            <form action="/login" method="POST" id="formLogin">
                <div class="controlForm">
                <label>E-mail:</label>
                <input type="email" name="mail" placeholder="Email" class="controlBox"></input>
                </div>
                <div class="controlForm">
                <label>Contraseña:</label>
                <input type="password" name="password" placeholder="Password" class="controlBox"></input>
                </div>       
                <div class="controlForm">
                <h4 class="text-login"> <a  href="#">Olvidé mi contraseña</a></h4>
                <button type="submit" class="registrate">iniciar sesión</button>
                </div>
            </form>
            </section>
            <section>
                <h4 class="text-login">¿No estas Registrado?</h4>
                <div class="controlRegister">
                <form action="/login" method="GET">
                <button type="submit" class="registrate">Registrate</button>
                </form>
                </div>
        </section>
        </section>
    </main>
    <%- include("../partials/footer") %>
</body>
</html>